.time-file {
  background-color: white;
  padding: 30x;
  border-radius: 8px;
}
.time-file .Pagination {
  display: flex;
  justify-content: flex-end;
}
.time-file .time {
  color: #3197ef;
  line-height: 19px;
  height: 19px;
  font-weight: 600;
}
.time-file .title {
  font-size: 15px;
}
